body{
  background: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 24px;
}

hr{
  width: 105px;
  border: 2px solid #E559F9;
  margin-top: 80px;
}

h2{
  margin-top: 80px;
}